.page-landing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.logo-container {
  margin-bottom: 3.2rem;
  text-align: center;
  color: #353334;
}

.logo-container img {
  height: 10rem;
}

.logo-container h2 {
  margin-top: 1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 5rem;
}

.hero-image {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.buttons-container a {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  width: 15rem;
  max-width: 22rem;
  height: 6rem;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  border-radius: 1rem;
  transition: filter 200ms;
  margin: 0 1%;
}

.create-account {
  background-color: var(--darkPurple);
}
.buttons-container a.create-account:hover {
  filter: brightness(0.8);
}
.login {
  background-color: var(--pink);
}
.buttons-container a.login:hover {
  filter: brightness(0.8);
}

.page-landing-content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.hero-image {
  height: 20rem;
  justify-self: center;
}

@media (min-width: 960px) {
  .page-landing-content {
    display: grid;
    grid-template-rows: 400px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo hero"
      "buttons buttons";
    max-width: 960px;
  }

  .logo-container {
    grid-area: logo;
    align-self: center;
    text-align: left;
    margin: 0 20px;
  }

  .logo-container h2 {
    font-size: 3rem;
    text-align: initial;
  }

  .logo-container img {
    height: 15rem;
  }

  .hero-image {
    grid-area: hero;
    height: 30rem;
    justify-self: center;
  }

  .buttons-container {
    grid-area: buttons;
    justify-content: flex-start;
  }

  .buttons-container a {
    width: 100%;
    max-width: 22rem;
    height: 7.5rem;
    font-size: 2.5rem;
  }
}
