.transfer-content {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transfer-title {
  color: var(--pink);
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}

.transfer-content form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.transfer-content input {
  width: 30rem;
  height: 5rem;
  outline: none;
  padding: 2rem;
  font-size: 2.1rem;
  font-weight: bold;
  color: #808080;
  border: none;
  border-radius: 3rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.transfer-btn {
  width: 32rem;
  height: 5rem;

  color: #fff;
  font-size: 2.5rem;
  background-color: var(--pink);

  transition: background-color 300ms;
  cursor: pointer;
  margin-top: 5rem;
  align-self: center;

  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  gap: 10px;
}

/* TRANSFERENCIA - CONFIRMAR DADOS */

.confirm-data {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;

  background: var(--pink);
  color: #fff;

  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.confirm-data h1 {
  font-size: 4rem;
  color: #fff;
}

.confirm-data .account-data {
  display: flex;
  gap: 2rem;
  font-size: 2.5rem;
}

.confirm-data .value-data {
  font-size: 2.5rem;
}

.confirm-data .account-field {
  display: flex;
  flex-direction: column;
}

.confirm-data .account-field strong {
  background-color: #fff;
  width: 25rem;
  height: 50px;

  padding: 15px;
  border-radius: 3rem;

  color: rgb(133, 133, 133);

  font-size: 2.3rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.confirm-data .account-field span {
  align-self: center;
}

.confirm-data .btn-wrapper {
  display: flex;
  gap: 3rem;
}

.confirm-data .btn-wrapper button {
  width: 30rem;
  height: 5rem;
  color: #fff;
  font-size: 2.3rem;
  font-weight: 600;
  cursor: pointer;
}

.confirm-data .btn-wrapper button.back {
  background-color: var(--darkPurple);
  transition: background-color 250ms;
}

.confirm-data .btn-wrapper button.send {
  background-color: #fff;
  color: var(--pink);
  transition: background-color 250ms;
}

.confirm-data .btn-wrapper button.send:hover {
  background-color: rgb(204, 204, 204);
}

.confirm-data .btn-wrapper button.back:hover {
  background-color: #000;
}

/* TRANSFERENCIA - ERRO */

.transfer-error {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;

  background-color: var(--darkPurple);

  color: #fff;

  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transfer-error h1 {
  font-size: 4rem;
}

.transfer-error strong {
  font-size: 3.5rem;
}

.back-error-btn {
  background-color: #fff;
  cursor: pointer;
  font-size: 2rem;
  height: 5rem;
  width: 25rem;
}
.back-error-btn:hover {
  background-color: rgb(185, 185, 185);
}

/* TRANSFERENCIA - Sucesso */

.transfer-sucess {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;

  background-color: #f7f7f7;

  color: #808080;

  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transfer-sucess img {
  width: 25rem !important;
}

.transfer-sucess h1 {
  font-size: 3rem;
}

.sucess-circle {
  color: green;
  font-size: 7rem;
}

.transfer-sucess p {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  line-height: 5rem;
}

.share-btn {
  background-color: var(--pink);
  color: #fff;

  font-size: 3rem;
  font-weight: bold;
  width: 30rem;

  cursor: pointer;
}

.share-btn:hover {
  background-color: #b90f50;
}

/* Comprovante */

.transfer-comprovant-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 1, 43, 0.856);

  display: flex;
  align-items: center;
  justify-content: center;
}

.transfer-comprovant {
  width: 45rem;
  height: 90%;
  background-color: #fff;
  filter: drop-shadow(9px 5px 12px rgba(0, 0, 0, 0.568));
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.transfer-comprovant {
  font-family: Arial, sans-serif;
}

.transfer-comprovant h1 {
  font-size: 2rem;
  padding-left: 20px;
  color: grey;
}

.transfer-comprovant img {
  margin-top: 1.5rem;
  align-self: center;
  width: 15rem;
}

.comprovant-row {
  padding: 10px 20px;
  font-size: 1.7rem;
}
