#modal-wrapper {
  display: flex;
  position: fixed;
  background-color: rgba(8, 0, 53, 0.822);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}

#modal {
  position: absolute;
  top: 10;
  left: 10;
  width: 75%;
  height: 50rem;
  display: block;
  border-radius: 4rem;
  background-color: var(--pink);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  width: 90%;
  height: 42rem;

  padding: 3rem 10rem;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 4rem;
}

.modal-content p {
  font-size: 2rem;
}

@media (max-width: 860px) {
  #modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;

    border-radius: 0;
  }

  .modal-content {
    height: 80%;
    border-radius: 3rem;
  }
}

@media (max-width: 450px) {
  .modal-content {
    padding: 1rem 2rem 1rem;
  }

  .modal-content h1 {
    font-size: 3rem;
  }

  .modal-content p {
    font-size: 1.5rem;
  }

  .modal-content img {
    height: 15rem;
  }
}
