#login {
  display: flex;
  height: 100%;
  width: 100vw;
}

/* Login Side */

#welcome {
  color: #fff;
  font-size: 5rem;

  margin-bottom: 5rem;
}

#form-side {
  width: 50%;
  background-color: var(--pink);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-side form {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#login form input,
button {
  width: 45rem;
  height: 6rem;
  border: none;
  outline: none;
  border-radius: 3rem;
}

#login input {
  padding: 3rem;
  font-size: 2.4rem;
  font-weight: bold;
}

#login button {
  background: var(--darkPurple);
  color: #fff;
  cursor: pointer;
  font-size: 2.6rem;

  margin-top: 50px;

  transition: background-color 250ms ease;
}

#login button:hover {
  background: var(--hover-darkPurple);
}

#login a {
  text-decoration: none;
  color: #0b0928;
  font-weight: bold;
  display: block;
  text-align: end;
  font-size: 2rem;
  padding-right: 2rem;
  align-self: flex-end;
}

#login a:hover {
  text-decoration: underline;
}

#login .back-link {
  align-self: center;
}

a:hover {
  text-decoration: underline;
}

/* Draw Side */

#draw-side {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.draw {
  display: block;
  width: 43rem;
}

.logo {
  display: block;
  width: 25rem;
}

@media (max-width: 900px) {
  #draw-side {
    display: none;
  }
  #form-side {
    width: 100vw;
    height: 100%;
  }

  #login form input,
  button {
    width: 27rem;
    height: 6rem;
    border: none;
    outline: none;
    border-radius: 3rem;
  }
}
