:root {
  font-size: 62.5%;

  --background: #f7f7f7;
  --darkPurple: #0b0928;
  --hover-darkPurple: #02001a;
  --pink: #fe0155;
  --hover-pink: #c80042;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background-color: var(--background);
}

body,
input,
button,
textarea {
  font: 500 1.6rem "Nunito";
}

.container {
  width: 100vw;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-back {
  color: var(--pink);
  background-color: inherit;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 5rem;
  font-weight: bold;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
}

.btn-swal-cancel {
  background-color: var(--darkPurple);
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  width: 10rem;
  height: 5rem;
  cursor: pointer;
  margin-right: 2rem;
}

.btn-swal-confirm {
  background-color: var(--pink);
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  width: 10rem;
  height: 5rem;
  cursor: pointer;
  margin-right: 2rem;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
