#header-container {
  padding: 10px;

  border-bottom: 2rem solid pink;

  background-color: var(--pink);
  height: 16rem;
  width: 100%;

  display: flex;

  align-items: center;
  justify-content: space-between;

  color: #fff;
}

.balance {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}
.balance span {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
}

.balance strong {
  font-size: 4rem;
}

.acconut-name strong {
  display: block;
  font-size: 7rem;
  margin-right: 5rem;
  text-align: center;
}

.acconut-name span {
  display: block;
  text-align: center;
  font-size: 3rem;
}
